<div class="page-content">
  <h1>Home page</h1>

  <% if current_user %>
    <%= link_to 'start a new project', new_project_path, class: "btn btn-primary make-it-green" %>
    <br/><br/>
    <h4><%= link_to 'view your projects', user_path(current_user), class: "make-it-green" %></h4>
  <% else %>
    <h3><%= link_to 'Login in to start tracking your projects', new_user_session_path, class: "make-it-green" %></h3>
  <% end %>

  <br/><br/>

  <%= will_paginate @projects, previous_label: h("<"), next_label: h(">") %>

  <br/>

  <% @projects.each do |project| %>
    <h3 class="make-it-green"><%= link_to project.title, project_path(project), class: "make-it-green" %></h3>
    <h6 class="make-it-green"><%= project.user.username %></h6>
    <br/>
  <% end %>

</div>
