<div class="page-content">
  <h3><%= @project.title %></h3>

  <div class="box col-3 project-description">
    <%= @project.description %>
  </div>

  <% if current_user == @project.user %>
    <br/>
    <%= link_to "Delete this project",
      project_path(@project),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "make-it-green btn btn-primary"
    %>
    <br/><br/>
    <h4 class="make-it-green">Add a users username to add them as a contributor for this project</h4>
    <div class="col-3 new-contributor-form">
      <%= simple_form_for @contributor, url: project_contributors_path(@project) do |f| %>
        <%= f.input :username %>
        <%= f.submit 'Add this user as a contributor', class: 'btn btn-primary make-it-green' %>
      <% end %>
    </div>
  <% end %>

  <br/>

  <h3 class="make-it-green">Contributors</h3>

  <br/>

  <div class='make-it-green'>
    <% @project.contributors.each do |contributor| %>
      <% if contributor.username == @project.user.username %>
        <h5 class="make-it-green">
          <%= "As project Owner:" %>
          <%= "#{contributor.username}" %>
          <br/>
        </h5>
      <% elsif current_user == @project.user %>
        <h5 class="make-it-green">
          <%= contributor.username %>
          <%= link_to "Remove this contributor",
            project_contributor_path(@project, contributor),
            method: :delete,
            data: { confirm: "Are you sure you want to remove this contributor?" },
            class: "make-it-green"
          %>
          <br/>
        </h5>
      <% else %>
        <h5 class="make-it-green">
          <%= contributor.username %>
          <br/>
        </h5>
      <% end %>
    <% end %>
  </div>

  <br/><br/>

  <% is_contributor = false %>
  <% if current_user && @project.is_project_contributor?(current_user, @project) %>
    <% is_contributor = true %>
  <% end %>

  <% web_protocal = '' %>
  <%= "#{polymorphic_url(@project)}".split(//).each do |char| %>
    <% break if char == ":" %>
    <% web_protocal = web_protocal + char %>
  <% end %>

  <% if current_user %>
    <%= react_component("Stages", { project_id: @project.id, current_user: true, is_contributor: is_contributor, web_protocal: web_protocal }) %>
  <% else %>
    <%= react_component("Stages", { project_id: @project.id, web_protocal: web_protocal }) %>
  <% end %>

</div>
