<div class="page-content">
  <h3><%= @project.title %></h3>

  <div class="box col-3 project-description">
    <%= @project.description %>
  </div>

  <% if current_user == @project.user %>
    <br/>
    <h4 class="make-it-green">Add a users username to add them as a contributor for this project</h4>
    <div class="col-3 new-contributor-form">
      <%= simple_form_for @contributor, url: project_contributors_path(@project) do |f|%>
        <%= f.input :username %>
        <%= f.submit 'Add this user as a contributor', class: 'btn btn-primary make-it-green' %>
      <% end %>
    </div>
  <% end %>

  <br/>

  <h3 class="make-it-green">Contributors</h3>

  <br/>

  <div class='make-it-green'>
    <% @project.contributors.each do |contributor| %>
      <h5 class="make-it-green">
        <%= contributor.username %>
        <br/>
      </h5>
    <% end %>
  </div>

  <br/><br/>

  <% is_contributor = false %>
  <% if current_user && @project.is_project_contributor?(current_user, @project) %>
    <% is_contributor = true %>
  <% end %>

  <% if current_user %>
    <%= react_component("Stages", project_id: @project.id, current_user: true, is_contributor: is_contributor) %>
  <% else %>
    <%= react_component("Stages", project_id: @project.id) %>
  <% end %>

</div>
