<!DOCTYPE html>
<html>
  <head>
    <title>Todo-Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse header-color">
      <div class="make-it-green">
        <h4><%= link_to 'Go To Homepage', root_path, class: "make-it-green" %></h4>
        <% if current_user %>
          <h5><%= "Currently logged in as #{current_user.username}" %></h5>
        <% end %>
      </div>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="make-it-green">Social Media Links</span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= link_to 'https://github.com/Learningstuff98/todo-tracker' do %>
          <div class="fa fa-github-square link make-it-green"> Github</div>
        <% end %>
        <br/>
        <%= link_to 'https://www.linkedin.com/in/andy-strube-6231ba152/' do %>
          <div class="fa fa-linkedin-square link make-it-green"> Linkedin</div>
        <% end %>
        <br/>
        <%= link_to 'https://docs.google.com/document/d/1qm4nBdIZfsx8zh4IwYvkVuQYclpOXUCVxnC9vV3_eBM/edit' do %>
          <div class="fa fa-file-text link make-it-green"> Resume</div>
        <% end %>
      </div>
    </nav>

    <br/><br/><br/><br/><br/><br/><br/>

    <h4 class="make-it-green text-center">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </h4>

    <%= yield %>
  </body>
</html>
